@model WeatherModel

@if (Model.country != null)
{
    <div class="container">
        <div class="forecast-panel">
            <h1>@Model.country</h1>
            <h2>@Model.observation_time</h2>
            <h2>@Model.temperature&#8451, @Model.weather_description</h2>
            <img src="@Model.weather_icon" />
        </div>
    </div>

    <div class="flex-container">
        <input style= margin-right: 10px" type="button" value="Save to Database" onclick="location.href='@Url.Action("SaveToDatabase", "Home", @Model)'" />
        <a style="margin-left: 40px" class="return-link" asp-controller="Home" asp-action="Index">Return to search</a>
    </div>
    
}
else
{
    <h2>Location not found</h2>
    <a asp-controller="Home" asp-action="Index">Return to search</a>
}

